# Package files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Log files
logs
*.log

# Build files
*.apk
*.unitypackage

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# NodeJS files
server/nodejs/node_modules/
server/nodejs/package-lock.json
.npm
npm-debug.log*

# Visual Studio files
client/unity/.vs/
client/unity/.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# Unity files
client/unity/[Bb]uild/
client/unity/[Bb]uilds/
client/unity/[Ll]ibrary/
client/unity/[Ll]ogs/
client/unity/[Oo]bj/
client/unity/[Pp]ackages/
client/unity/[Tt]emp/
client/unity/Assets/AssetStoreTools*
client/unity/sysinfo.txt
*.pidb.meta
*.pdb.meta
