# Package files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Log files
logs
*.log

# Build files
*.apk
*.unitypackage

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# NodeJS files
nodejs/node_modules/
.npm
npm-debug.log*

# Visual Studio files
unity/.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# Unity files
unity/[Ll]ibrary/
unity/[Tt]emp/
unity/[Oo]bj/
unity/[Bb]uild/
unity/[Bb]uilds/
unity/Assets/AssetStoreTools*
unity/sysinfo.txt
*.pidb.meta
*.pdb.meta